.department-title {
  margin-top: 40px;
  font-size: 1.8rem;
}

.event-type {
  margin-top: 15px;
  font-size: 1.2rem;
  color: #c0392b;
}

.event-list {
  padding-left: 20px;
}

.event-list li {
  margin: 6px 0;
}
