#home {
  min-height: 100vh;
  width: 100vw;
  background: radial-gradient(
    circle at top,
    #111 0%,
    #060606 70%,
    #000 100%
  );
  position: relative;
  z-index: 1;
}

.hero {
  height: 100vh;
  background: radial-gradient(circle at center, #111 0%, black 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 70px;
}

.hero-samurai {
  position: absolute;
  bottom: 0;
  right: 10%;
  height: 80%;
  opacity: 0.8;
}

.hero-text {
  text-align: left;
  color: white;
  z-index: 2;
}

.hero-text h1 {
  font-size: 80px;
  letter-spacing: 6px;
  color: #c10000;
}

.hero-text p {
  margin-top: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  color: #ccc;
}
