.samurai-nav {
  height: 70px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(6px);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 60px;
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 22px;
  letter-spacing: 3px;
  color: #c10000;
  font-weight: 600;
}

.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-links li {
  color: #ddd;
  cursor: pointer;
  position: relative;
}

.nav-links li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #c10000;
  transition: 0.3s ease;
}

.nav-links li:hover::after {
  width: 100%;
}
